*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul p {
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

.container-header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px rgba(46, 47, 66, 0.08),
        0 1px 1px rgba(46, 47, 66, 0.16), 0 1px 6px rgba(46, 47, 66, 0.08);
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;

    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 0;
}

.logo .logo-dark {
    color: #2e2f42;
}

.link {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    font-style: normal;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: #404bbf;
}

.contact-list {
    font-style: normal;
}

.right-navi-list {
    display: none;
}

.left-navi-list {
    display: none;
}

.contact-link {
    color: #434455;
    font-style: normal;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.contact-link:active {
    color: #404bbf;
}

/* --- mobile.menu hamburger --- */

.icon-ham {
    fill: #2f2f37;
    cursor: pointer;
}

.menu-hamburger {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: #fff;
    padding-top: 72px;
    padding-left: 16px;
    padding-bottom: 40px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(100%);
}

.sm-menu.ham {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
}

.left-navi-list.ham {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 40px;
}

.link.ham.current {
    color: #404bbf;
}

.current::after {
    content: "";
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.right-navi-list.ham {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0;
}

.link.ham {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding: 0;
}

.contact-link.ham {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-hamburger.is-open-ham {
    transform: translateX(0);
}

.menu-icon-ham {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.first-section {
    background-color: #2e2f42;
    padding: 72px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img11.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
    max-width: 3200px;
    text-align: center;
}

.page-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    margin-bottom: 48px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    font-family: inherit;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button:hover,
.button:focus,
.button:active {
    background-color: #404bbf;
}

.second-section {
    padding: 96px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-list {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
}

.second-section-list-item {
    width: 100%;
    gap: 72px;
}

.second-section-container {
    display: none;
}

.list-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: center;
}

.paragraph {
    font-weight: 500;
}

.third-section {
    background-color: #f4f4fd;
    padding: 96px 0;
}

.third-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    justify-content: center;
    margin-bottom: 72px;
}

.third-section-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
}

.team-member {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-member-container {
    padding: 32px 0;
}

.team-member-name {
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.team-member-title {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.icon-set {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 9px 16px 0px 16px;
}

.icon-circle {
    width: 40px;
    height: 40px;
}

.sm-link {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-sm {
    fill: #f4f4fd;
}

.sm-link:hover,
.sm-link:focus {
    background-color: #404bbf;
}

.fourth-section {
    padding: 96px 0;
}

.fourth-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    justify-content: center;
}

.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    margin: 0 auto;
}



.transition-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.transition-list:hover,
.transition-list:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.fourth-section-list-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.photo-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.photo-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.inside-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    padding: 40px 32px;
    position: absolute;
    top: 0;

}

.image-text {
    position: relative;
    overflow: hidden;
}

.fourth-section-list-item:hover .inside-text,
.fourth-section-list-item:focus .inside-text {
    transform: translateY(0%);
}

.page-footer {

    background-color: #2e2f42;
    padding: 96px 0;
}


.footer-left {
    margin: 0 auto;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.logo-footer {
    display: block;
    margin-right: 0;

    margin-bottom: 16px;
    color: #4d5ae5;
    align-content: center;
    text-align: center;
    padding: 0;
}

.logo-studio-footer,
.paragraph-footer {
    color: #F4F4FD;
}

.paragraph-footer {
    color: #F4F4FD;
    display: block;
    flex-wrap: wrap;
    width: 100%;
}

.icon-set-footer {
    display: flex;
    gap: 16px;
}


.sm-footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    display: block;
    text-align: center;
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}

.footer-right {
    margin: 0;
}

.footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 0 auto;

}

.sub-text {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}

.sub-input {
    border: 1px solid #fff;
    border-radius: 4px;
    font-family: inherit;
    font-weight: 400;
    height: 40px;
    width: 264px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    align-content: center;
    align-items: baseline;
    outline: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
}

.sub-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    opacity: 0.6;
}

.sub-button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    padding: 8px 24px;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.sub-button:focus,
.sub-button:hover {
    background-color: #404bbf;
}



.mod-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mod-container.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.sub-icon {
    fill: #fff;
    margin-left: 16px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 623px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 16px 24px 16px;
}

.x-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-button:focus,
.x-button:hover {
    background-color: #404bbf;
    border: none;
    fill: #fff;
}

.x-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.mod-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.modal {
    display: flex;
    flex-direction: column;
}

.mod-form {
    margin-bottom: 8px;
}

.mod-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.mod-form-container {
    position: relative;
}

.mod-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-form-input:focus {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.mod-form-textarea {
    margin-bottom: 16px;
}

.mod-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-form-comment:focus {
    border-color: #4d5ae5;
}

.mod-form-checkbox-container {
    margin-bottom: 24px;
}


.mod-form-checkbox:checked+.mod-form-privacy span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;

}

.mod-form-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.mod-form-privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.mod-form-checkbox:checked span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4d5ae5;
}

.mod-end-button {
    margin: auto;
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/* tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {
    .container {
        max-width: 738px;
        margin: 0 auto;
    }

    img {
        width: 100%;
    }

    .right-navi-list {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: flex-end;
    }

    .left-navi-list {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        gap: 40px;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        background-color: #404bbf;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .logo {
        margin-right: 120px;
    }

    .menu-hamburger,
    .menu-icon-ham {
        display: none;
    }

    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img11.jpg);
        max-width: 768px;
        padding: 112px 0;
    }

    .page-title {
        font-size: 56px;
        max-width: 496px;
    }

    .second-section {
        padding: 96px 0;
    }

    .second-section-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .second-section-list-item {
        width: calc((100% - 24px) / 2);
        gap: 72px;
    }

    .list-header {
        font-size: 36px;
        font-weight: 700;
        text-align: center;
    }

    .third-section-list {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        column-gap: 24px;
        row-gap: 64px;
    }

    .fourth-section {
        padding: 96px 0;
    }

    .fourth-section-list {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
        column-gap: 24px;
        row-gap: 72px;
    }

    .fourth-section-list-item {
        width: calc((100% - 24px) / 2);
    }

    .container-footer {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        column-gap: 24px;
        row-gap: 72px;
        align-items: baseline;
        max-width: 530px;
    }

    .footer-left {
        margin: 0;
    }

    .logo-footer {
        display: block;
        margin-right: 0;
        text-align: left;
    }

    .paragraph-footer {
        width: 264px;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .footer-right {
        margin: 0;
    }

    .footer-form {
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .sm-footer-title {
        text-align: left;
    }

    .sub-text {
        text-align: left;
    }

    .sub-input {
        opacity: 0.3;
    }

    .sub-input::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 2;
        opacity: 0.6;
    }

    .mod {
        width: 408px;
        min-height: 584px;
    }


}

/* desktop */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    img {
        max-width: 100%;
    }

    .logo {
        padding: 0;
        margin-right: 76px;
    }

    .left-navi-list,
    .right-navi-list {
        flex-direction: row;
    }

    .left-navi-list {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        gap: 40px;
    }

    .current::after {
        content: "";
        background-color: #404bbf;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        position: absolute;
        left: 0;
        bottom: -1px;
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .right-navi-list {
        display: flex;
        flex-wrap: nowrap;
        gap: 40px;
        padding: 24px 0;
        margin-right: 0;
        justify-content: flex-end;
    }

    .contact-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .menu-hamburger,
    .menu-icon-ham {
        display: none;
    }

    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img11.jpg);
        max-width: 1440px;
        padding: 188px 0;
    }

    .second-section {
        padding: 120px 0;
    }

    .second-section-list {
        flex-direction: row;
        column-gap: 24px;
    }

    .second-section-list-item {
        width: calc((100% - 72px) / 4);
    }

    .second-section-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4fd;
        box-shadow: inset 0 0 1px 1px rgb(142, 143, 153, 1);
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin: auto;
        margin-bottom: 8px;
    }

    .list-header {
        text-align: left;
        font-weight: 500;
        font-size: 20px;
    }

    .paragraph {
        font-weight: inherit;
    }

    .third-section {
        padding: 120px 0;
    }

    .third-section-list {
        gap: 24px;
    }

    .team-member-name {
        font-size: 20px;
        font-weight: 500;
    }

    .page-title {
        font-size: 20px;
        font-weight: 500;
    }

    .fourth-section-list {
        column-gap: 24px;
        row-gap: 48px;
    }

    .fourth-section-list-item {
        width: calc((100% - 48px) / 3);
    }

    .container-footer {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .page-footer {
        height: 312px;
        padding: 100px 0;
    }

    .footer-left {
        margin-right: auto;
    }

    .footer-right {
        margin-left: auto;
    }

    .logo-footer {
        display: inline-block;
        margin-bottom: 16px;
        text-align: left;
    }

    .sub-input {
        opacity: 1;
    }

    .sub-input::placeholder {
        color: #fff;
        opacity: 1;
    }

    .paragraph-footer {
        width: 264px;
    }

    .sub-text {
        text-align: left;
    }

    .footer-form {
        flex-direction: row;
    }

    .mod {
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px 24px;
    }
}

@media (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img11x2.jpg);
    }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/img11x2.jpg);
    }
}

@media (min-width: 1158px) and (min-resolution: 192dpi) {
    .first-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/img11x2.jpg);
    }
}