*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.container {

    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    height: 72px;
    display: flex;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
}

.page-nav {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}

.logo:first-child {
    margin-right: 76px;
}

.logo-studio {
    color: #2e2f42;
}


.address {
    font-style: normal;
}

.address-list {
    display: flex;
    padding: 24px 0;
    gap: 40px;
}

.address-link {
    text-decoration: none;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.page-nav .link:hover,
.page-nav .link:focus,
.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

.nav {
    display: flex;
    padding: 24px 0;
    gap: 40px;
}

.link {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: relative;
    text-decoration: none;
    color: #2e2f42;
}

.first-link {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.first-link::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}


.first-section {
    background-color: #2e2f42;
    padding: 188px 0;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/img-11.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    margin: 0 auto;
    max-width: 1440px;
}

.page-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    max-width: 496px;
    margin-bottom: 48px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin: auto;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button:hover,
.button:focus,
.button:active {
    background-color: #404bbf;
}

.second-section {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
}

.second-section-list-item {
    width: calc((100% - 72px) /4);
}

.second-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4fd;
    box-shadow: inset 0 0 1px 1px rgb(142, 143, 153, 1);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin: auto;
    margin-bottom: 8px;
}

.list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    margin-top: 8px;

}

.paragraph {
    font-size: 16px;
    line-height: 1.5;
}

.third-section {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.third-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    justify-content: center;
    margin-bottom: 72px;
}

.third-section-list {
    display: flex;
    gap: 24px;
}

.team-member {
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 72px) /4);
    text-align: center;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-member-container {
    padding: 32px 0;
}

.team-member-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    text-align: center;
}

.team-member-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

.icon-set {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 9px 16px 0px 16px;
}

.icon-circle {
    width: 40px;
    height: 40px;
}

.sm-link {
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-sm {
    fill: #f4f4fd;
}

.sm-link:hover,
.sm-link:focus {
    background-color: #404bbf;
}

.fourth-section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.fourth-section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    justify-content: center;
}

.fourth-section-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.fourth-section-list-item {
    width: calc((100% - 48px) /3);
}

.transition-list {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.transition-list:hover,
.transition-list:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.fourth-section-list-container {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.photo-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.photo-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.inside-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    padding: 40px 32px;
    position: absolute;
    top: 0;

}

.image-text {
    position: relative;
    overflow: hidden;
}

.fourth-section-list-item:hover .inside-text,
.fourth-section-list-item:focus .inside-text {
    transform: translateY(0%);
}

.page-footer {

    background-color: #2e2f42;
    padding: 100px 0;
    height: 100px 0;
}

.footer-left {
    margin-right: 120px;
}

.container-footer {

    display: flex;
    align-items: baseline;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
}

.logo-studio-footer,
.paragraph-footer {
    color: #F4F4FD;
}

.paragraph-footer {
    line-height: 24px;
    height: 72px;
    max-width: 264px;
}

.icon-set-footer {
    display: flex;
    gap: 16px;
}


.sm-footer-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.link-footer:hover,
.link-footer:focus {
    background-color: #31d0aa;
}
.footer-right {
    margin: auto;
}
.footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 0;
    
}

.sub-text {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.sub-input {
    border: 1px solid #fff;
    border-radius: 4px;
    font-family: inherit;
    height: 40px;
    width: 264px;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sub-input::placeholder {
    color: #fff;
}

.sub-button {
    height: 40px;
    display: flex;
    gap: 16px;
    flex-direction: row;
    border: none;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #4d5ae5;
    padding: 8px 24px;
    border-radius: 4px;
    min-width: 165px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;

}

.sub-button:focus,
.sub-button:hover {
    background-color: #404bbf;
}



.mod-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.x-button {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-button:focus,
.x-button:hover {
    background-color: #404bbf;
    border: none;
}

.x-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.x-button:focus,
.x-button:hover {
    fill: #ffffff;
}

.mod-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
}

.mod-form {
    margin-bottom: 8px;
}

.mod-form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    margin-bottom: 4px;
}

.mod-form-container {
    position: relative;
}

.mod-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-form-input:focus {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-form-input:focus+.form-icon {
    fill: #4d5ae5;
}

.mod-form-textarea {
    margin-bottom: 16px;
}

.mod-form-comment {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-form-comment:focus {
    border-color: #4d5ae5;
}

.mod-form-checkbox-container {
    margin-bottom: 24px;
}


.mod-form-checkbox:checked+.mod-form-privacy span {
    background-color: #404bbf;
    fill: #F4F4FD;
    border: none;

}

.mod-form-privacy {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.mod-form-privacy-span {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.mod-form-checkbox:checked span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4d5ae5;
}

.mod-end-button {
    margin: auto;
    display: block;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    background-color: #4d5ae5;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}